{% extends 'base.html.twig' %}

{% block title %}Connexion au site
{% endblock %}

{% block body %}
    <div class="container text-center shadow-lg">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                {% if hasError %}
                        <div class="alert alert-danger">Une erreur est survenue, le mail ou le mot de passe est invalide</div>
                    {% endif %}
                <div class="py-3 px-3">
                    <h1 class="jumbotron bg-dark text-white">Connectez-vous</h1>

                    <form action="{{ path('account_login') }}" method="post" class="text-white">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="_username" class="form-control border border-dark" placeholder="Adresse mail" id="email" value="{{ username }}" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" class="form-control border border-dark" placeholder="Mot de passe" id="password" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success rounded-circle">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
