{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe
{% endblock %}

{% block body %}

    <div class="container text-center text-dark">
        <h1 class="jumbotron text-white bg-dark">Modification du mot de passe</h1>

        {{ form_start(form)}}
        {{ form_widget(form)}}
        <button type="submit" class="btn btn-success">Enrengistrement du mot de passe</button>

        {{ form_end(form)}}
    </div>

{% endblock %}
