{% extends 'base.html.twig' %}

{% block title %}Inscription au site
{% endblock %}

{% block body %}

    <div class="container text-center text-dark shadow-lg">
        <h1 class="jumbotron bg-dark text-white">Inscrivez vous sur Housebnb</h1>

        {{ form_start(form) }}

        {{ form_widget(form)}}
        <button type="submit" class="btn btn-success rounded-circle">S'inscrire</button>

        {{ form_end(form) }}
    </div>

{% endblock %}
