<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule !\.(js|gif|jpg|png|css|txt|scss|woff|ttf|eot|woff2)$ public/index.php [L]
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>